footer 
  div.uk-container 
    nav(uk-navbar) 
      div.uk-navbar-left.uk-text-center
        ul.uk-navbar-nav
          li
            a(href="https://wintex.pro" target="_blank" class="uk-margin-small-left") powered by WinteX
          //li
          //  button(class="uk-button uk-button-primary uk-margin-small-left top-margin" href="#modal-center" uk-toggle)
          //    span.ru На связи
          //    span.en Contact us
      div.uk-navbar-right
        ul.uk-navbar-nav
          li
            a(href="#" class="uk-margin-small-left") @icogooru
          li
            a(href="#" class="uk-margin-small-left") +7-953-035-9597
          li
            a(href="#" class="uk-margin-small-left") info@wintex.pro
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
script(src='/javascripts/uikit.min.js')
script(src='/javascripts/uikit-icons.min.js')
script(src='/javascripts/main.js')

//div(id="modal-center" class="uk-flex-top" uk-modal)
//  div.uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical
//    button(class="uk-modal-close-default" type="button" uk-close)
//    h3.uk-modal-title
//      b.ru Напишите нам
//      b.en Contact us
//    p.ru И свяжемся с вами в близжайшее время
//    p.en and we will contact you in the shortest time
//    form(class="uk-grid-small" uk-grid)
//      div.uk-width-1-2
//        input(class="uk-input ru name" type="text" placeholder="Имя")
//        input(class="uk-input en name" type="text" placeholder="name")
//      div.uk-width-1-2
//        input(class="uk-input ru email" type="email" placeholder="Почта")
//        input(class="uk-input en email" type="email" placeholder="email")
//      div.uk-width-1-1
//        textarea(class="uk-textarea ru text" rows="5" placeholder="Небольшой текст, вопрос, предложение...")
//        textarea(class="uk-textarea en text" rows="5" placeholder="Some text for us...")
//    button(class="uk-button uk-button-primary top-margin" id="sender" href="#")
//      span.ru Отправить
//      span.en Send