nav(uk-navbar) 
    div.uk-navbar-left
      ul.uk-navbar-nav
        li#logo #[a(href="index") wSupport]
    //div.uk-navbar-center
    //div.uk-navbar-right
    //  ul.uk-navbar-nav
    //    li
    //      button(class="uk-button uk-button-primary top-margin uk-margin-small-left" href="#adding" uk-toggle)
    //        span.ru Добавить сотрудника
    //        span.en Add

div(id="adding" class="uk-flex-top" uk-modal)
  div.uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical
    button(class="uk-modal-close-default" type="button" uk-close)
    h3.uk-modal-title
      b.ru Добавление сотрудника
      b.en Adding an employee
    p.ru Внесите номер телефона и получите код<br>Впишите его в соответствующее поле и добавьте работника
    p.en Write you phone number and get code<br>Write you code down and press add
    form(class="uk-grid-small" uk-grid)
      div.uk-width-1-2
        input(class="uk-input ru number" type="text" placeholder="Номер телефона")
        input(class="uk-input en number" type="text" placeholder="number")
      div.uk-width-1-2
        input(class="uk-input ru code" type="text" placeholder="Код")
        input(class="uk-input en code" type="text" placeholder="code")
    div.uk-width-1-2
      button(class="uk-button" id="send_number")
        span.ru Получить код
        span.en ff
    div.uk-width-1-2
      button(class="uk-button uk-button-primary top-margin" id="add_employee")
        span.ru Добавить
        span.en Add
