ul.uk-nav
  li #[img(src="/images/logo.jpg" alt="logo")]
  li #[a(href="/") #[span(class="uk-margin-small-right" uk-icon="icon: hashtag")]Проекты]
  li #[a(href="statistics") #[span(class="uk-margin-small-right" uk-icon="icon: hashtag")]Статистика]
